.site-header__menu-link {
  transition: opacity 150ms ease;
  font-weight: 500;
  display: inline-block;
  padding: 0.5rem 0;
}

.site-header__menu-link:hover,
.site-header__menu-link:focus {
  opacity: 0.75;
}

.site-header__menu-link.is-active {
  font-weight: 600;
  opacity: 1;
}

.site-header__menu-link--mobile {
  width: 100%;
  padding: 0.75rem 0;
}


.theme-switcher {
  display: inline-flex;
}

.theme-switcher label {
  position: relative;
  display: inline-block;
  height: 1rem;
  width: 2.5rem;
  cursor: pointer;
  border-radius: 9999px;
  background-color: rgba(255, 255, 255, 0.4);
}

.theme-switcher input {
  position: absolute;
  opacity: 0;
}

.theme-switcher span {
  position: absolute;
  top: -0.25rem;
  left: 0;
  display: flex;
  height: 1.5rem;
  width: 1.5rem;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  background-color: #003c75;
  transition: all 300ms ease;
}

.theme-switcher input:checked + label span {
  transform: translateX(1rem);
}

.dark .theme-switcher span {
  left: auto;
  right: 0;
  background-color: #ffffff;
  transform: none;
}
